<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="300"
   height="350"
   id="svg3582"
   version="1.1"
   inkscape:version="0.48.4 r9939"
   sodipodi:docname="barres.svg">
  <defs
     id="defs3584">
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath226">
      <path
         inkscape:connector-curvature="0"
         d="m 0,841.89 595.28,0 L 595.28,0 0,0 0,841.89 z"
         id="path228" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath226-9">
      <path
         inkscape:connector-curvature="0"
         d="m 0,841.89 595.28,0 L 595.28,0 0,0 0,841.89 z"
         id="path228-5" />
    </clipPath>
  </defs>
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.7"
     inkscape:cx="188.24219"
     inkscape:cy="60.504537"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:window-width="1024"
     inkscape:window-height="744"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata3587">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Calque 1"
     inkscape:groupmode="layer"
     id="layer1">
    <g
       id="g4476"
       class="d1">
      <rect
         y="84.750282"
         x="30.000406"
         height="193.57141"
         width="15.7"
         id="rect3105-24"
         style="fill:#ec6652;fill-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text3946-0"
         y="73.295998"
         x="18.563999"
         style="font-size:16px;font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;text-align:middle;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ec6652;fill-opacity:1;stroke:none;font-family:LuxSansBookItalic;-inkscape-font-specification:LuxSansBookItalic Medium"
         xml:space="preserve">45</text>
    </g>
    <text
       xml:space="preserve"
       style="font-size:13px;font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none;font-family:LuxSansBook;-inkscape-font-specification:LuxSansBook Medium"
       x="-317.44095"
       y="42.556408"
       id="text4003"
       sodipodi:linespacing="125%"
       transform="matrix(0,-1,1,0,0,0)"><tspan
         sodipodi:role="line"
         id="tspan4005"
         x="-317.44095"
         y="42.556408">Lundi</tspan></text>
    <g
       id="g4484"
       class="d2">
      <rect
         y="84.750282"
         x="70.850471"
         height="193.57141"
         width="15.7"
         id="rect3105-24-4"
         style="fill:#f49c82;fill-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text3946-0-0"
         y="73.295998"
         x="55.253979"
         style="font-size:16px;font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#f49c82;fill-opacity:1;stroke:none;font-family:LuxSansBookItalic;-inkscape-font-specification:LuxSansBookItalic Medium"
         xml:space="preserve"><tspan
           y="73.295998"
           x="55.253979"
           id="tspan3948-6-7"
           sodipodi:role="line">45 min</tspan></text>
    </g>
    <text
       xml:space="preserve"
       style="font-size:13px;font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none;font-family:LuxSansBook;-inkscape-font-specification:LuxSansBook Medium"
       x="-319.49753"
       y="83.406471"
       id="text4003-2"
       sodipodi:linespacing="125%"
       transform="matrix(0,-1,1,0,0,0)"><tspan
         sodipodi:role="line"
         id="tspan4005-6"
         x="-319.49753"
         y="83.406471">Mardi</tspan></text>
    <g
       id="g4492"
       class="d3">
      <rect
         y="84.750282"
         x="107.54045"
         height="193.57141"
         width="15.7"
         id="rect3105-24-0"
         style="fill:#2f6f7f;fill-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text3946-0-3"
         y="73.295998"
         x="91.943962"
         style="font-size:16px;font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#2f6f7f;fill-opacity:1;stroke:none;font-family:LuxSansBookItalic;-inkscape-font-specification:LuxSansBookItalic Medium"
         xml:space="preserve"><tspan
           y="73.295998"
           x="91.943962"
           id="tspan3948-6-3"
           sodipodi:role="line">45 min</tspan></text>
    </g>
    <text
       xml:space="preserve"
       style="font-size:13px;font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none;font-family:LuxSansBook;-inkscape-font-specification:LuxSansBook Medium"
       x="-336.71237"
       y="120.09645"
       id="text4003-20"
       sodipodi:linespacing="125%"
       transform="matrix(0,-1,1,0,0,0)"><tspan
         sodipodi:role="line"
         id="tspan4005-2"
         x="-336.71237"
         y="120.09645">Mercredi</tspan></text>
    <g
       id="g4500"
       class="d4">
      <rect
         y="84.750282"
         x="144.23047"
         height="193.57141"
         width="15.7"
         id="rect3105-24-1"
         style="fill:#51bfcd;fill-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text3946-0-1"
         y="73.295998"
         x="128.63397"
         style="font-size:16px;font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#51bfcd;fill-opacity:1;stroke:none;font-family:LuxSansBookItalic;-inkscape-font-specification:LuxSansBookItalic Medium"
         xml:space="preserve"><tspan
           y="73.295998"
           x="128.63397"
           id="tspan3948-6-4"
           sodipodi:role="line">45 min</tspan></text>
    </g>
    <text
       xml:space="preserve"
       style="font-size:13px;font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none;font-family:LuxSansBook;-inkscape-font-specification:LuxSansBook Medium"
       x="-313.96231"
       y="156.78647"
       id="text4003-5"
       sodipodi:linespacing="125%"
       transform="matrix(0,-1,1,0,0,0)"><tspan
         sodipodi:role="line"
         id="tspan4005-8"
         x="-313.96231"
         y="156.78647">Jeudi</tspan></text>
    <g
       id="g4508"
       class="d5">
      <rect
         y="84.750282"
         x="180.92043"
         height="193.57141"
         width="15.7"
         id="rect3105-24-5"
         style="fill:#cae6e4;fill-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text3946-0-5"
         y="73.295998"
         x="165.32393"
         style="font-size:16px;font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#cae6e4;fill-opacity:1;stroke:none;font-family:LuxSansBookItalic;-inkscape-font-specification:LuxSansBookItalic Medium"
         xml:space="preserve"><tspan
           y="73.295998"
           x="165.32393"
           id="tspan3948-6-1"
           sodipodi:role="line">45 min</tspan></text>
    </g>
    <text
       xml:space="preserve"
       style="font-size:13px;font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none;font-family:LuxSansBook;-inkscape-font-specification:LuxSansBook Medium"
       x="-336.02682"
       y="193.47643"
       id="text4003-8"
       sodipodi:linespacing="125%"
       transform="matrix(0,-1,1,0,0,0)"><tspan
         sodipodi:role="line"
         id="tspan4005-1"
         x="-336.02682"
         y="193.47643">Vendredi</tspan></text>
    <g
       id="g4516"
       class="d6">
      <rect
         y="84.750282"
         x="217.61044"
         height="193.57141"
         width="15.7"
         id="rect3105-24-15"
         style="fill:#6eaaa6;fill-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text3946-0-9"
         y="73.295998"
         x="202.01393"
         style="font-size:16px;font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#6eaaa6;fill-opacity:1;stroke:none;font-family:LuxSansBookItalic;-inkscape-font-specification:LuxSansBookItalic Medium"
         xml:space="preserve"><tspan
           y="73.295998"
           x="202.01393"
           id="tspan3948-6-8"
           sodipodi:role="line">45 min</tspan></text>
    </g>
    <text
       xml:space="preserve"
       style="font-size:13px;font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none;font-family:LuxSansBook;-inkscape-font-specification:LuxSansBook Medium"
       x="-327.54636"
       y="230.16644"
       id="text4003-1"
       sodipodi:linespacing="125%"
       transform="matrix(0,-1,1,0,0,0)"><tspan
         sodipodi:role="line"
         id="tspan4005-60"
         x="-327.54636"
         y="230.16644">Samedi</tspan></text>
    <g
       id="g4524"
       class="d0">
      <rect
         y="84.750282"
         x="254.30042"
         height="193.57141"
         width="15.7"
         id="rect3105-24-8"
         style="fill:#268365;fill-opacity:1" />
      <text
         sodipodi:linespacing="125%"
         id="text3946-0-8"
         y="73.295998"
         x="238.70392"
         style="font-size:16px;font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#268365;fill-opacity:1;stroke:none;font-family:LuxSansBookItalic;-inkscape-font-specification:LuxSansBookItalic Medium"
         xml:space="preserve"><tspan
           y="73.295998"
           x="238.70392"
           id="tspan3948-6-9"
           sodipodi:role="line">45 min</tspan></text>
    </g>
    <text
       xml:space="preserve"
       style="font-size:13px;font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none;font-family:LuxSansBook;-inkscape-font-specification:LuxSansBook Medium"
       x="-342.827"
       y="266.84991"
       id="text4003-9"
       sodipodi:linespacing="125%"
       transform="matrix(0,-1,1,0,0,0)"><tspan
         sodipodi:role="line"
         id="tspan4005-15"
         x="-342.827"
         y="266.84991">Dimanche</tspan></text>
  </g>
</svg>
