.mmcursor
    .frame(title=cursor.explanation)
        .mmtitle Ce mois-ci vous avez été plutôt
        .svg
            include cursor_svg.html

        .minLabel= cursor.minLabel
        .maxLabel= cursor.maxLabel

