
.mainmenu
  a.rubriques#exploits vos exploits
  | &nbsp;&nbsp;
  a.rubriques#details en détails

.moimenu
  .frame
    .moimtitle vos unes
    //select.moimmonth(name="moimmonth")
    .moimmonth
    .moimshare 
        a#bymail mail
        | &nbsp;
        a#testmail test

#moi

