.moiheader
  .moilogo
    img(src="img/logo_moi_128px.png")

  .moisnippet
    h1 Des nouvelles fraîches sur vous ?

    p Feuilletez le magazine qui vous raconte votre propre histoire. Découvrez les gros titres du moment, les petits riens de votre quotidien.


.moimenu
  h2.moimtitle vos unes
    //select.moimmonth(name="moimmonth")
  .moimmonth

    //-.moimshare
    //-a#bymail mail

#moi


//- .moireedition
//-   | En cliquant sur le bouton ci-dessous, vous pouvez ré-éditer tous vos
//-   i moi.
//-   | Les anciens
//-   i moi
//-   | seront définitivement perdus, mais les nouveaux créés utiliseront peut-être plus de données !
//-
//-   .text-center
//-     a.btn.btn-danger.btn-small(id="reset", href='#') ré-éditer

.moiparameters
  .btn.btn-default.btn-small(id="parameters", href='#') Paramètres

#parameterscontainer


