.moiheader
  .moilogo
    img(src="img/logo_moi_128px.png")

  .moisnippet
    h1 Des nouvelles fraîches sur vous ?

    p Feuilletez le magazine qui vous raconte votre propre histoire. Découvrez les gros titres du moment, les petits riens de votre quotidien.


.moimenu
  h2.moimtitle vos unes
    //select.moimmonth(name="moimmonth")
  .moimmonth
  
    //-.moimshare 
    //-a#bymail mail

#moi

