.mm
  .mmheader
    .frame
      .mmhblue
      //img.mmlogo(src="img/Logo_MoiMois_130px.png")
      img.mmmesinfoslogo(src="img/Logo_MesInfos_71px.png")
      // - todo : parametre
      //.mmname= mm.userName
      h1.mmdate
        | ~&nbsp;
        = mm.displayDate
        | &nbsp;~
      //.mmnum #1

  // - todo : header, avec nom ...
  if mm.badges && mm.badges.length > 0
    .mmexploits
      h2 Exploits du mois

      .row
          .badge_0
          .badge_1
          .badge_2

  //hr.mmdotted
  .mmmois
    h2 Vous ce mois-ci
    .mmcol
      .mmbloc.number_0
      .mmbloc.cursor_0
      .mmbloc.number_2
      .mmbloc.viz_1
      .mmbloc.ad_0

    .mmcol
      .mmbloc.viz_0
      .mmbloc.number_1
      .mmbloc.cursor_1
      .mmbloc.number_3
      .mmbloc.ad_1
      .mmbloc.number_4


    .spider
        hr

  .mmfooter
    .frame
      .mmfblue
        img(src="img/logo_moi_inv_50px.png")
