<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="600"
   height="400"
   id="svg3654"
   version="1.1"
   inkscape:version="0.48.4 r9939"
   sodipodi:docname="spider.svg">
  <defs
     id="defs3656">
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath92">
      <path
         inkscape:connector-curvature="0"
         d="m 0,841.89 595.28,0 L 595.28,0 0,0 0,841.89 z"
         id="path94" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath104">
      <path
         inkscape:connector-curvature="0"
         d="m 132.158,694.138 110.2,0 0,-91.043 -110.2,0 0,91.043 z"
         id="path106" />
    </clipPath>
  </defs>
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="2.191254"
     inkscape:cx="159.127"
     inkscape:cy="274.95992"
     inkscape:current-layer="layer1"
     inkscape:document-units="px"
     showgrid="false"
     inkscape:window-width="1920"
     inkscape:window-height="1056"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata3659">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     id="layer1"
     inkscape:label="Layer 1"
     inkscape:groupmode="layer">
    <g
       id="g24"
       transform="matrix(1.8369426,0,0,-1.8369426,459.67964,250.02152)">
      <path
         inkscape:connector-curvature="0"
         d="M 0,0 18.322,0"
         style="fill:none;stroke:#51bfcd;stroke-width:0.54400003;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
         id="path26" />
    </g>
    <g
       id="g28"
       transform="matrix(1.8369426,0,0,-1.8369426,439.12352,107.38219)">
      <path
         inkscape:connector-curvature="0"
         d="M 0,0 18.322,0"
         style="fill:none;stroke:#2f6f7f;stroke-width:0.54400003;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
         id="path30" />
    </g>
    <g
       id="g32"
       transform="matrix(1.8369426,0,0,-1.8369426,300.33753,202.41164)">
      <path
         inkscape:connector-curvature="0"
         d="M 0,0 86.868,-26.365"
         style="fill:none;stroke:#51bfcd;stroke-width:3.75;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
         id="path34" />
    </g>
    <g
       id="g36"
       transform="matrix(1.8369426,0,0,-1.8369426,439.53426,107.1489)">
      <path
         inkscape:connector-curvature="0"
         d="M 0,0 -75.776,-51.859"
         style="fill:none;stroke:#2f6f7f;stroke-width:3.75;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
         id="path38" />
    </g>
    <g
       id="g40"
       transform="matrix(1.8369426,0,0,-1.8369426,300.33753,202.41164)">
      <path
         inkscape:connector-curvature="0"
         d="M 0,0 -46.109,-77.215"
         style="fill:none;stroke:#6eaaa6;stroke-width:3.75;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
         id="path42" />
    </g>
    <g
       id="g44"
       transform="matrix(1.8369426,0,0,-1.8369426,308.52662,223.44684)">
      <path
         inkscape:connector-curvature="0"
         d="M 0,0 -4.458,11.451"
         style="fill:none;stroke:#cae6e4;stroke-width:1.875;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
         id="path46" />
    </g>
    <g
       id="g48"
       transform="matrix(1.8369426,0,0,-1.8369426,358.85959,356.02945)">
      <path
         inkscape:connector-curvature="0"
         d="M 0,0 17.014,0"
         style="fill:none;stroke:#cae6e4;stroke-width:0.54400003;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
         id="path50" />
    </g>
    <g
       id="g52"
       transform="matrix(1.8369426,0,0,-1.8369426,185.10337,344.2508)">
      <path
         inkscape:connector-curvature="0"
         d="M 0,0 17.015,0"
         style="fill:none;stroke:#6eaaa6;stroke-width:0.54400003;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
         id="path54" />
    </g>
    <g
       id="g56"
       transform="matrix(1.8369426,0,0,-1.8369426,104.80897,223.71227)">
      <path
         inkscape:connector-curvature="0"
         d="M 0,0 17.014,0"
         style="fill:none;stroke:#48b594;stroke-width:0.54400003;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
         id="path58" />
    </g>
    <g
       id="g60"
       transform="matrix(1.8369426,0,0,-1.8369426,148.47934,85.751463)">
      <path
         inkscape:connector-curvature="0"
         d="M 0,0 17.013,0"
         style="fill:none;stroke:#ec6652;stroke-width:0.54400003;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
         id="path62" />
    </g>
    <g
       id="g64"
       transform="matrix(1.8369426,0,0,-1.8369426,283.23101,34.065953)">
      <path
         inkscape:connector-curvature="0"
         d="M 0,0 17.015,0"
         style="fill:none;stroke:#f49c82;stroke-width:0.54400003;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
         id="path66" />
    </g>
    <g
       id="g68"
       transform="matrix(1.8369426,0,0,-1.8369426,302.33761,207.54938)">
      <path
         inkscape:connector-curvature="0"
         d="M 0,0 31.535,-81.014"
         style="fill:none;stroke:#cae6e4;stroke-width:3.75;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
         id="path70" />
    </g>
    <g
       id="g72"
       transform="matrix(1.8369426,0,0,-1.8369426,300.33753,202.41164)">
      <path
         inkscape:connector-curvature="0"
         d="M 0,0 -66.097,63.742"
         style="fill:none;stroke:#ec6652;stroke-width:3.75;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
         id="path74" />
    </g>
    <g
       id="g76"
       transform="matrix(1.8369426,0,0,-1.8369426,134.93372,223.6298)">
      <path
         inkscape:connector-curvature="0"
         d="M 0,0 90.043,11.551"
         style="fill:none;stroke:#48b594;stroke-width:3.75;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
         id="path78" />
    </g>
    <g
       id="g80"
       transform="matrix(1.8369426,0,0,-1.8369426,300.33753,202.41164)">
      <path
         inkscape:connector-curvature="0"
         d="M 0,0 7.702,91.961"
         style="fill:none;stroke:#f49c82;stroke-width:3.75;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
         id="path82" />
    </g>
    <text
       style="font-size:22.04331207px"
       y="35.878643"
       x="235.40495"
       id="text84">
      <tspan
         style="font-size:12.99085808px;font-variant:normal;font-weight:500;font-stretch:normal;writing-mode:lr-tb;fill:#2b2b2a;fill-opacity:1;fill-rule:nonzero;stroke:none;font-family:LuxSansBook;-inkscape-font-specification:LuxSansBook"
         x="235.40495 242.38103 248.42177 252.89062 255.99544 262.29602 268.44067 271.5455"
         y="35.878643"
         sodipodi:role="line"
         id="tspan86">Écrivain</tspan>
    </text>
    <path
       id="center"
       style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
       d="m 308.89439,203.1256 c -0.39862,4.73196 -4.55194,8.23685 -9.27105,7.84374 -4.72094,-0.39861 -8.23134,-4.54275 -7.84007,-9.27839 0.39678,-4.71911 4.55194,-8.22767 9.27105,-7.8364 4.72278,0.39862 8.23318,4.55011 7.84007,9.27105"
       inkscape:connector-curvature="0" />
    <path
       id="spider"
       style="fill:#ffffff;fill-opacity:0.70196078;stroke:#5c5c5b;stroke-width:6.88853455;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
       d="m 204.15449,112.17894 102.1781,18.63762 100.25297,-1.68264 -60.49235,87.19048 -15.36603,63.09898 L 286.77466,224.6733 217.6303,213.08587 204.15449,112.17894 z"
       inkscape:connector-curvature="0"
       class="spider" />
    <circle 
        id="point_0"
        cx="50" cy="50" r="7" 
        style="fill:#5c5c5b;fill-opacity:1;stroke:#5c5c5b;stroke-width:5.1673193;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
        class="point_0"
    />
<circle 
        id="point_1"
        cx="50" cy="50" r="7" 
        style="fill:#5c5c5b;fill-opacity:1;stroke:#5c5c5b;stroke-width:5.1673193;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
        class="point_1"
    />
    <circle 
        id="point_2"
        cx="50" cy="50" r="7" 
        style="fill:#5c5c5b;fill-opacity:1;stroke:#5c5c5b;stroke-width:5.1673193;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
        class="point_2"
    />
    <circle 
        id="point_3"
        cx="50" cy="50" r="7" 
        style="fill:#5c5c5b;fill-opacity:1;stroke:#5c5c5b;stroke-width:5.1673193;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
        class="point_3"
    />
    <circle 
        id="point_4"
        cx="50" cy="50" r="7" 
        style="fill:#5c5c5b;fill-opacity:1;stroke:#5c5c5b;stroke-width:5.1673193;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
        class="point_4"
    />
    <circle 
        id="point_5"
        cx="50" cy="50" r="7" 
        style="fill:#5c5c5b;fill-opacity:1;stroke:#5c5c5b;stroke-width:5.1673193;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
        class="point_5"
    />
    <circle 
        id="point_6"
        cx="50" cy="50" r="7" 
        style="fill:#5c5c5b;fill-opacity:1;stroke:#5c5c5b;stroke-width:5.1673193;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
        class="point_6"
    />
    <text
       style="font-size:22.04331207px"
       y="358.64951"
       x="394.21268"
       id="text176">
      <tspan
         style="font-size:12.99085808px;font-variant:normal;font-weight:500;font-stretch:normal;writing-mode:lr-tb;fill:#2b2b2a;fill-opacity:1;fill-rule:nonzero;stroke:none;font-family:LuxSansBook;-inkscape-font-specification:LuxSansBook"
         x="394.21268 402.43588 409.37302 416.29712 423.22125 429.65173 435.69247 440.53809"
         y="358.64951"
         sodipodi:role="line"
         id="tspan178">Connecté</tspan>
      <tspan
         style="font-size:12.99085808px;font-variant:normal;font-weight:500;font-stretch:normal;writing-mode:lr-tb;fill:#2b2b2a;fill-opacity:1;fill-rule:nonzero;stroke:none;font-family:LuxSansBook;-inkscape-font-specification:LuxSansBook"
         x="495.64529 504.58301 507.70081 514.63794 521.71796 528.14838 532.99402 537.46283 544.39996 549.24554 554.09119 560.52167"
         y="254.4498"
         sodipodi:role="line"
         id="tspan180">Globetrotter</tspan>
      <tspan
         style="font-size:12.99085808px;font-variant:normal;font-weight:500;font-stretch:normal;writing-mode:lr-tb;fill:#2b2b2a;fill-opacity:1;fill-rule:nonzero;stroke:none;font-family:LuxSansBook;-inkscape-font-specification:LuxSansBook"
         x="475.6004 485.40851 489.87735 496.02203 500.86761 507.29807 514.22223"
         y="110.86185"
         sodipodi:role="line"
         id="tspan182">Orateur</tspan>
      <tspan
         style="font-size:12.99085808px;font-variant:normal;font-weight:500;font-stretch:normal;writing-mode:lr-tb;fill:#2b2b2a;fill-opacity:1;fill-rule:nonzero;stroke:none;font-family:LuxSansBook;-inkscape-font-specification:LuxSansBook"
         x="127.25052 134.46046 138.92929 142.03413 148.95825 154.99902 161.42949 167.2104 172.99138"
         y="346.87979"
         sodipodi:role="line"
         id="tspan184">Princesse</tspan>
      <tspan
         style="font-size:12.99085808px;font-variant:normal;font-weight:500;font-stretch:normal;writing-mode:lr-tb;fill:#2b2b2a;fill-opacity:1;fill-rule:nonzero;stroke:none;font-family:LuxSansBook;-inkscape-font-specification:LuxSansBook"
         x="27.896441 34.872528 41.796673 46.642235 51.111107 57.541595 64.634583 69.103455 75.53392 82.458069 88.888527 95.812675"
         y="226.28564"
         sodipodi:role="line"
         id="tspan186">Entrepreneur</tspan>
    </text>
    <text
       style="font-size:21.68772888px"
       y="90.425674"
       x="99.772766"
       transform="scale(1.0163956,0.98386887)"
       id="text188">
      <tspan
         style="font-size:13.20385075px;font-variant:normal;font-weight:500;font-stretch:normal;writing-mode:lr-tb;fill:#2b2b2a;fill-opacity:1;fill-rule:nonzero;stroke:none;font-family:LuxSansBook;-inkscape-font-specification:LuxSansBook"
         x="99.772766 103.19256 110.2302 115.03641 118.20534 125.24299 131.7789 138.81654"
         y="90.425674"
         sodipodi:role="line"
         id="tspan190">Influent</tspan>
    </text>
    <text
       style="font-size:22.04331207px"
       y="103.75404"
       x="35.678749"
       id="text192">
      <tspan
         style="font-size:9.76941204px;font-variant:normal;font-weight:500;font-stretch:normal;writing-mode:lr-tb;fill:#2b2b2a;fill-opacity:1;fill-rule:nonzero;stroke:none;font-family:LuxSansBookItalic;-inkscape-font-specification:LuxSansBookItalic"
         x="35.678749 40.211761 45.614246 47.812366 51.290272 56.370365 61.772839 66.110466 69.63723 72.206596 77.28669 82.689163 84.887283 90.358154 95.672707 97.870827 103.2733 108.35339 116.58903 121.75704 125.20564 129.73866 131.93678 137.40765 141.94066"
         y="103.75404"
         sodipodi:role="line"
         id="tspan194">en fonction du nombre de</tspan>
      <tspan
         style="font-size:9.76941204px;font-variant:normal;font-weight:500;font-stretch:normal;writing-mode:lr-tb;fill:#2b2b2a;fill-opacity:1;fill-rule:nonzero;stroke:none;font-family:LuxSansBookItalic;-inkscape-font-specification:LuxSansBookItalic"
         x="35.678749 40.016373 45.096466 50.49894 54.025703 59.516129 63.853729 67.380493 71.268723 73.466843 78.957245 84.115509 89.273743 93.806747 96.42495 100.95795 104.84618 109.34013 114.83052 119.98878 125.14703 129.68005 132.29825 137.78865 143.19113 146.7179 150.60612"
         y="115.47733"
         sodipodi:role="line"
         id="tspan196">contacts appelés/appelants</tspan>
      <tspan
         style="font-size:9.76941204px;font-variant:normal;font-weight:500;font-stretch:normal;writing-mode:lr-tb;fill:#2b2b2a;fill-opacity:1;fill-rule:nonzero;stroke:none;font-family:LuxSansBookItalic;-inkscape-font-specification:LuxSansBookItalic"
         x="35.678749 41.149616 43.718983 47.196884 50.674809 55.207809 58.656406 63.189407 68.591904 72.118668"
         y="127.20063"
         sodipodi:role="line"
         id="tspan198">différents</tspan>
      <tspan
         style="font-size:9.76941204px;font-variant:normal;font-weight:500;font-stretch:normal;writing-mode:lr-tb;fill:#2b2b2a;fill-opacity:1;fill-rule:nonzero;stroke:none;font-family:LuxSansBookItalic;-inkscape-font-specification:LuxSansBookItalic"
         x="209.33983 214.74228 219.8224 228.05801 233.22604 236.67462 241.20764 243.40579 248.87662 253.40964 255.60777 259.496 267.7316"
         y="46.788601"
         sodipodi:role="line"
         id="tspan200">nombre de sms</tspan>
      <tspan
         style="font-size:9.76941204px;font-variant:normal;font-weight:500;font-stretch:normal;writing-mode:lr-tb;fill:#2b2b2a;fill-opacity:1;fill-rule:nonzero;stroke:none;font-family:LuxSansBookItalic;-inkscape-font-specification:LuxSansBookItalic"
         x="485.03262 490.43512 495.51517 503.75082 508.91885 512.36743 516.90045 519.09857 524.5694 527.03131 532.52173 537.67999 542.8382 547.37128 549.98944"
         y="122.47222"
         sodipodi:role="line"
         id="tspan202">nombre d’appels</tspan>
      <tspan
         style="font-size:9.76941204px;font-variant:normal;font-weight:500;font-stretch:normal;writing-mode:lr-tb;fill:#2b2b2a;fill-opacity:1;fill-rule:nonzero;stroke:none;font-family:LuxSansBookItalic;-inkscape-font-specification:LuxSansBookItalic"
         x="485.03262 490.43512 495.51517 503.75082 508.91885 512.36743 516.90045 519.09857 524.5694 529.10248 531.30054 536.4588 541.53888 544.10822 549.51074 553.03748 556.92572"
         y="265.30106"
         sodipodi:role="line"
         id="tspan204">nombre de points</tspan>
      <tspan
         style="font-size:9.76941204px;font-variant:normal;font-weight:500;font-stretch:normal;writing-mode:lr-tb;fill:#2b2b2a;fill-opacity:1;fill-rule:nonzero;stroke:none;font-family:LuxSansBookItalic;-inkscape-font-specification:LuxSansBookItalic"
         x="485.03262 490.50351 495.03653 497.23462 502.40265 506.93567 512.01575 514.63397 519.71405 524.05164"
         y="277.02432"
         sodipodi:role="line"
         id="tspan206">de géoloc</tspan>
      <tspan
         style="font-size:9.76941204px;font-variant:normal;font-weight:500;font-stretch:normal;writing-mode:lr-tb;fill:#2b2b2a;fill-opacity:1;fill-rule:nonzero;stroke:none;font-family:LuxSansBookItalic;-inkscape-font-specification:LuxSansBookItalic"
         x="485.03262 490.50351 493.07285 496.55078 500.02869 504.56168 508.01028 512.54333 517.94574 521.47253 525.36072 527.5589 533.02972 537.56281 539.76086 544.91913 547.53729 552.85187 556.74011"
         y="288.74765"
         sodipodi:role="line"
         id="tspan208">différents de plus</tspan>
      <tspan
         style="font-size:9.76941204px;font-variant:normal;font-weight:500;font-stretch:normal;writing-mode:lr-tb;fill:#2b2b2a;fill-opacity:1;fill-rule:nonzero;stroke:none;font-family:LuxSansBookItalic;-inkscape-font-specification:LuxSansBookItalic"
         x="485.03262 490.50351 495.03653 497.23462 499.78442 502.33423 504.88406 509.77853"
         y="300.47095"
         sodipodi:role="line"
         id="tspan210">de ...km</tspan>
      <tspan
         style="font-size:9.76941204px;font-variant:normal;font-weight:500;font-stretch:normal;writing-mode:lr-tb;fill:#2b2b2a;fill-opacity:1;fill-rule:nonzero;stroke:none;font-family:LuxSansBookItalic;-inkscape-font-specification:LuxSansBookItalic"
         x="393.84494 398.93481 404.24936 409.73978 415.14224 418.66901 421.23837 424.76514 429.29816 431.49625 436.9671 441.50015 443.69824 449.1691 454.65952 458.18628 463.6767"
         y="374.52304"
         sodipodi:role="line"
         id="tspan212">quantité de datas</tspan>
      <tspan
         style="font-size:9.76941204px;font-variant:normal;font-weight:500;font-stretch:normal;writing-mode:lr-tb;fill:#2b2b2a;fill-opacity:1;fill-rule:nonzero;stroke:none;font-family:LuxSansBookItalic;-inkscape-font-specification:LuxSansBookItalic"
         x="121.63982 128.77148 133.85158 142.08719 147.2552 150.7038 155.23683 157.43495 162.90582 165.36771 170.85811 176.01634 181.17461 185.70761 188.32581"
         y="363.26868"
         sodipodi:role="line"
         id="tspan214">Nombre d’appel</tspan>
      <tspan
         style="font-size:9.76941204px;font-variant:normal;font-weight:500;font-stretch:normal;writing-mode:lr-tb;fill:#2b2b2a;fill-opacity:1;fill-rule:nonzero;stroke:none;font-family:LuxSansBookItalic;-inkscape-font-specification:LuxSansBookItalic"
         x="121.63982 126.17281 131.57532 135.10205 138.55064 144.04108 149.44356"
         y="374.992"
         sodipodi:role="line"
         id="tspan216">entrant</tspan>
      <tspan
         style="font-size:9.76941204px;font-variant:normal;font-weight:500;font-stretch:normal;writing-mode:lr-tb;fill:#2b2b2a;fill-opacity:1;fill-rule:nonzero;stroke:none;font-family:LuxSansBookItalic;-inkscape-font-specification:LuxSansBookItalic"
         x="24.795626 31.927299 37.007381 45.243004 50.411018 53.859634 58.392635 60.590755 66.061623 68.523514 74.013916 79.172173 84.330414 88.863441 91.481644"
         y="240.36951"
         sodipodi:role="line"
         id="tspan218">Nombre d’appel</tspan>
      <tspan
         style="font-size:9.76941204px;font-variant:normal;font-weight:500;font-stretch:normal;writing-mode:lr-tb;fill:#2b2b2a;fill-opacity:1;fill-rule:nonzero;stroke:none;font-family:LuxSansBookItalic;-inkscape-font-specification:LuxSansBookItalic"
         x="24.795626 28.683857 33.76395 37.212543 40.739296 46.22971 51.63221"
         y="252.0928"
         sodipodi:role="line"
         id="tspan220">sortant</tspan>
    </text>
  </g>
</svg>
