<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="300"
   height="350"
   id="svg7967"
   version="1.1"
   inkscape:version="0.48.4 r9939"
   sodipodi:docname="top5.svg">
  <defs
     id="defs7969">
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath4628">
      <path
         inkscape:connector-curvature="0"
         d="m 0,841.89 595.28,0 L 595.28,0 0,0 0,841.89 z"
         id="path4630" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath4600">
      <path
         inkscape:connector-curvature="0"
         d="m 0,841.89 595.28,0 L 595.28,0 0,0 0,841.89 z"
         id="path4602" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath196">
      <path
         inkscape:connector-curvature="0"
         d="m 0,841.89 595.28,0 L 595.28,0 0,0 0,841.89 z"
         id="path198" />
    </clipPath>
  </defs>
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="1.095627"
     inkscape:cx="93.201545"
     inkscape:cy="327.18629"
     inkscape:current-layer="layer1"
     inkscape:document-units="px"
     showgrid="false"
     inkscape:window-width="956"
     inkscape:window-height="1054"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="0" />
  <metadata
     id="metadata7972">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     id="layer1"
     inkscape:label="Layer 1"
     inkscape:groupmode="layer">
    <path
       id="path4634"
       style="fill:none;stroke:#2f6f7f;stroke-width:1.01465511;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
       d="m 226.19213,148.98219 0,30"
       inkscape:connector-curvature="0" />
    <path
       id="path4638"
       style="fill:none;stroke:#f49c82;stroke-width:1.01465511;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
       d="m 249.59218,148.98219 0,60"
       inkscape:connector-curvature="0" />
    <path
       id="path4642"
       style="fill:none;stroke:#ec6652;stroke-width:1.01465511;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
       d="m 273.0322,148.98219 0,90"
       inkscape:connector-curvature="0" />
    <path
       sodipodi:type="arc"
       style="color:#000000;fill:none;stroke:#f49c82;stroke-width:12;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate"
       id="arc_1"
       class="arc_1"
       sodipodi:cx="150"
       sodipodi:cy="150"
       sodipodi:rx="100"
       sodipodi:ry="100"
       d="M 63.397459,200 A 100,100 0 1 1 250,150"
       sodipodi:start="2.6179939"
       sodipodi:end="6.2831853"
       sodipodi:open="true" />
    <path
       sodipodi:type="arc"
       style="color:#000000;fill:none;stroke:#ec6652;stroke-width:12;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate"
       id="arc_0"
       class="arc_0"
       sodipodi:cx="150"
       sodipodi:cy="150"
       sodipodi:rx="124"
       sodipodi:ry="124"
       d="M 117.90644,269.7748 A 124,124 0 1 1 274,150"
       sodipodi:start="1.8325957"
       sodipodi:end="6.2831853"
       sodipodi:open="true" />
    <path
       sodipodi:type="arc"
       style="color:#000000;fill:none;stroke:#2f6f7f;stroke-width:12;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate"
       id="arc_2"
       class="arc_2"
       sodipodi:cx="150"
       sodipodi:cy="150"
       sodipodi:rx="76"
       sodipodi:ry="76"
       d="M 130.32975,223.41036 A 76,76 0 1 1 226,150"
       sodipodi:start="1.8325957"
       sodipodi:end="6.2831853"
       sodipodi:open="true" />
    <text
       xml:space="preserve"
       style="font-size:12.88040161px;font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:LuxSansBook;-inkscape-font-specification:LuxSansBook Medium"
       x="119.64558"
       y="276.19843"
       id="value_0"
       class="value_0"
       sodipodi:linespacing="125%">x0</text>
    <text
       xml:space="preserve"
       style="font-size:12.88040161px;font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:LuxSansBook;-inkscape-font-specification:LuxSansBook Medium"
       x="67.08741"
       y="213.15454"
       id="value_1"
       class="value_1"
       sodipodi:linespacing="125%">x1</text>
    <text
       xml:space="preserve"
       style="font-size:12.88040161px;font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:LuxSansBook;-inkscape-font-specification:LuxSansBook Medium"
       x="134.97595"
       y="228.74121"
       id="value_2"
       class="value_2"
       sodipodi:linespacing="125%">x2</text>
    <text
       xml:space="preserve"
       style="font-size:11px;font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none;font-family:LuxSansBook;-inkscape-font-specification:LuxSansBook Medium"
       x="180"
       y="-224.70543"
       id="label_2"
       class="label_2"
       sodipodi:linespacing="125%"
       transform="matrix(0,1,-1,0,0,0)">x2</text>
    <text
       xml:space="preserve"
       style="font-size:11px;font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none;font-family:LuxSansBook;-inkscape-font-specification:LuxSansBook Medium"
       x="210"
       y="-248.26764"
       id="label_1"
       class="label_1"
       sodipodi:linespacing="125%"
       transform="matrix(0,1,-1,0,0,0)">x1</text>
    <text
       xml:space="preserve"
       style="font-size:11px;font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none;font-family:LuxSansBook;-inkscape-font-specification:LuxSansBook Medium"
       x="240"
       y="-271.64178"
       id="label_0"
       class="label_0"
       sodipodi:linespacing="125%"
       transform="matrix(0,1,-1,0,0,0)">Pastis</text>
    <path
       sodipodi:type="arc"
       style="color:#000000;fill:none;stroke:#51bfcd;stroke-width:12;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate"
       id="arc_3"
       class="arc_3"
       sodipodi:cx="150"
       sodipodi:cy="150"
       sodipodi:rx="52"
       sodipodi:ry="52"
       d="M 136.54141,200.22814 A 52,52 0 1 1 202,150"
       sodipodi:start="1.8325957"
       sodipodi:end="6.2831853"
       sodipodi:open="true" />
    <path
       sodipodi:type="arc"
       style="color:#000000;fill:none;stroke:#cae6e4;stroke-width:12;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate"
       id="arc_4"
       class="arc_4"
       sodipodi:cx="150"
       sodipodi:cy="150"
       sodipodi:rx="28"
       sodipodi:ry="28"
       d="M 142.75307,177.04592 A 28,28 0 1 1 178,150"
       sodipodi:start="1.8325957"
       sodipodi:end="6.2831853"
       sodipodi:open="true" />
    <path
       inkscape:connector-curvature="0"
       d="m 202.0606,149.86274 0,20"
       style="fill:none;stroke:#51bfcd;stroke-width:0.86874998;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
       id="path316" />
    <path
       inkscape:connector-curvature="0"
       d="m 177.78335,149.92587 0,10"
       style="fill:none;stroke:#cae6e4;stroke-width:0.86874998;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none"
       id="path320" />
    <text
       xml:space="preserve"
       style="font-size:11px;font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none;font-family:LuxSansBook;-inkscape-font-specification:LuxSansBook Medium"
       x="170"
       y="-200.24544"
       id="label_3"
       class="label_3"
       sodipodi:linespacing="125%"
       transform="matrix(0,1,-1,0,0,0)">x2</text>
    <text
       xml:space="preserve"
       style="font-size:11px;font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none;font-family:LuxSansBook;-inkscape-font-specification:LuxSansBook Medium"
       x="160"
       y="-175.94429"
       id="label_4"
       class="label_4"
       sodipodi:linespacing="125%"
       transform="matrix(0,1,-1,0,0,0)">x2</text>
    <text
       xml:space="preserve"
       style="font-size:12.88040161px;font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:LuxSansBook;-inkscape-font-specification:LuxSansBook Medium"
       x="143.31955"
       y="205.11223"
       id="value_3"
       class="value_3"
       sodipodi:linespacing="125%">x2</text>
    <text
       xml:space="preserve"
       style="font-size:12.88040161px;font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:LuxSansBook;-inkscape-font-specification:LuxSansBook Medium"
       x="148.63452"
       y="181.65359"
       id="value_4"
       class="value_4"
       sodipodi:linespacing="125%">x2</text>
  </g>
</svg>
