@import "bootstrap/bootstrap.less";

@font-face {
  font-family: "Lux Sans Book";
  src: url("/fonts/LuxSansBook.otf");
}

@font-face {
  font-family: "Lux Sans Book Italic";
  src: url("/fonts/LuxSansBookItalic.otf");
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue.otf");
}

.mmtitle {
    font-size: 12px;
    font-family: "Lux Sans Book";
    text-transform: uppercase;
}

.frame {
   position: relative;
   display: inline-block;
   background: white;
}

.vizframe {
    width: 300px;    
}

.mmbadge {
    height: 150px;
    text-align: center;
    .frame {
        height: 150px;
        width: 200px;
        
        img {
            position: absolute;
            bottom: 5px;
            left: 5px;
        }

        .score {
            position: absolute;
            bottom: 34px;
            width: 100%;
            text-align: center;
        }
    }
}


.mmnumber {
    text-align: center;
    .frame {
        .vizframe;
        padding: 10px;

        .mmtitle {
//            margin-top: 10px;
        }
        .labcompare {
            font-size: 12px;
            font-family: "Lux Sans Book Italic";
            
        }
        hr {
            margin: 5px 60px;
            border-color: black;
        }
        .count {
            font-family: "Bebas Neue";
            text-transform: uppercase;
            font-size: 60px;
            line-height: 0.9;
        }
        .vcCount {
            color: #F15048;
            .count;
        }

        .vvcCount {
            color: #F15048;
            text-size: 25px;
            .count;
        }
        .vvcCount2 {
            color: #F68470;
            .count;
        }

        .vCount {
            color: #2F6878;
            .count;
        }

        .vvCount {
            color: #2F6878;
            .count;
        }
        .vvCount2 {
            color: #5AC8CC;
            .count;
        }

    }
}

.mmcursor {
     text-align: center;
    .frame {
        .vizframe;
        height: 240px;

        .mmtitle {
            position: absolute;
            top: 30px;
            width: 100%;
        }
        
        .mmLabel {
            position: absolute;
            width: 80px;
            top: 190px;
            font-family: "Lux Sans Book";
            text-transform: capitalize;
            font-size: 12px;
        }
        .minLabel {
            .mmLabel;
            left: 5px;
            
        }
        .maxLabel {
            .mmLabel;
            right: 5px;
        }

        .svg {
            position: absolute;
            width: 300px;
            height: 200px;
            bottom: 0px;
        }
    }
}

.mmbargraph {
    text-align: center;
    .frame {
        .vizframe;
        height: 380px;

        .mmtitle {
            position: absolute;
            top: 30px;
            width: 100%;
        }
        .svg {
            position: absolute;
            width: 300px;
            height: 350px;
            bottom: 0px;
        }
    
    }
}

.mmspider {
    text-align: center;
    .frame {
        width: 630px;
        height: 480px;
    }
    .mmtitle {
        position: absolute;
        top: 30px;
        width: 100%;
    }
    .svg {
        position: absolute;
        width: 600px;
        height: 400px;
        bottom: 0px;
    }
}

.mmtopx {
    text-align: center;
    .frame {
        .vizframe;
        height: 410px;

        .mmtitle {
            position: absolute;
            top: 20px;
            width: 100%;
        }
        .svg {
            position: absolute;
            width: 300px;
            height: 350px;
            bottom: 10px;
        }
    
    }
}

.mm {
    background: #F4F4F4;
    width: 640px;
    padding: 5px;
    
    .mmcol {
        float: left;
        margin: 5px;
    }
    h2 {
      text-align: center;
      width: 100%;
      color: #2F6878;

    }
    hr {
      border-color: #F68470;
    }

    .mmbloc {
        margin: 10px 0;
    }

    .spider {
        clear: both; 
    }

}
