@import "bootstrap/bootstrap.less";

.frame {
   position: relative;
   display: inline-block;
}

.vizframe {
    width: 300px;    
}

.mmbadge {

    height: 150px;
    text-align: center;
    .frame {
        height: 150px;
        width: 200px;
        
        img {
            position: absolute;
            bottom: 5px;
            left: 5px;
        }

        .score {
            position: absolute;
            bottom: 34px;
            width: 100%;
            text-align: center;
        }
    }
}


.mmnumber {
    text-align: center;
    .frame {
        .vizframe;
        
        .lab {
            text-transform: capitalize;
        }
        //hr

        .vcCount {
            color: #F15048;
            text-size: 42px;
            text-transform: capitalize;
        }

        .vvcCount {
            color: #F15048;
            text-size: 20px;
            text-transform: capitalize;
        }
        .vvcCount2 {
            color: #F68470;
            text-size: 42px;
            text-transform: capitalize;
        }

        .vCount {
            color: #2F6878;
            text-size: 42px;
            text-transform: capitalize;
        }

        .vvCount {
            color: #2F6878;
            text-size: 42px;
            text-transform: capitalize;
        }
        .vvCount2 {
            color: #5AC8CC;
            text-size: 42px;
            text-transform: capitalize;
        }

    }
}

.mmcursor {
     text-align: center;
    .frame {
        .vizframe;
        height: 240px;

        .title {
            position: absolute;
            top: 30px;
            width: 100%;
        }
        
        .mmLabel {
            position: absolute;
            width: 80px;
            bottom: 30px;
        }
        .minLabel {
            .mmLabel;
            left: 5px;
            
        }
        .maxLabel {
            .mmLabel;
            right: 5px;
        }

        .svg {
            position: absolute;
            width: 300px;
            height: 200px;
            bottom: 0px;
        }
    }
}

.mmbargraph {
    text-align: center;
    .frame {
        .vizframe;
        height: 380px;

        .title {
            position: absolute;
            top: 30px;
            width: 100%;
        }
        .svg {
            position: absolute;
            width: 300px;
            height: 350px;
            bottom: 0px;
        }
    
    }
}

.mmspider {
    text-align: center;
    .frame {
        width: 630px;
        height: 480px;
    }
    .title {
        position: absolute;
        top: 30px;
        width: 100%;
    }
    .svg {
        position: absolute;
        width: 600px;
        height: 400px;
        bottom: 0px;
    }
}
