include badge
include numberviz
include cursor
include viz


table(align="center", bgcolor="#F4F4F4", cellpadding="5px", frame="void", width="640px")

  //tr
  //  td // th
  tr
    th(align="center", style="font-size: 50px; color: #2F6878;") ~ Vos Exploits ~
  tr
    td
      table(align="center")
        tr
          mixin badgeimg(badges[0])
          mixin badgeimg(badges[1])
          mixin badgeimg(badges[2])
        tr
          mixin badgelabel(badges[0])
          mixin badgelabel(badges[1])
          mixin badgelabel(badges[2])          
  tr
    th(align="center", style="font-size: 50px; color: #2F6878;") ~ Votre mois ~
  tr
    td
      table
        tr
          td(valign="top")
            table
              tr
                td
                  mixin numberviz(numbers[0])
              tr
                td
                  mixin cursor(cursors[0])
              tr
                td
                  mixin numberviz(numbers[1])
              tr
                td
                  mixin viz(viz[0])
          td(valign="top")
            table
              tr
                td 
                  mixin viz(viz[1])
              tr
                td
                  mixin numberviz(numbers[2])
              tr
                td 
                  mixin cursor(cursors[1])                
              tr
                td
                  mixin numberviz(numbers[3])
              tr
                td
                  mixin numberviz(numbers[4])

