mixin badgeimg(data)
 - if (data)
  td(align="center") 
    img(alt="#{data.type}", src='#{baseUrl}/img/badges/#{data.type}_badge.png')
    

mixin badgelabel(data)
 - if (data)
  td(align="center",style='font-size: 12px;text-transform: uppercase;')= data.label
    | &nbsp;
    = data.explanationLabel
